<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>877130495148-i9brp8qs2llhb7sg7hqic84r26887ak5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877130495148-i9brp8qs2llhb7sg7hqic84r26887ak5</string>
	<key>API_KEY</key>
	<string>AIzaSyBEgVx8W8SQ-z_GNFrYXq1l1WzYq3OL5uM</string>
	<key>GCM_SENDER_ID</key>
	<string>877130495148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zenithdev.firebase</string>
	<key>PROJECT_ID</key>
	<string>react-native-firebase-4f9ac</string>
	<key>STORAGE_BUCKET</key>
	<string>react-native-firebase-4f9ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877130495148:ios:301976f6b422e16b341b09</string>
	<key>DATABASE_URL</key>
	<string>https://react-native-firebase-4f9ac.firebaseio.com</string>
</dict>
</plist>